* {
  background-image: 'url("https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=1380&t=st=1688619913~exp=1688620513~hmac=8bf038cfce973b8a8f16a589304c732318ce1e319988b009553e37845b7a3898")';
  background-repeat: "no-repeat";
  background-size: "cover";
  background-position: "center";
  transform: "rotate(180deg)";
}
